<html lang="nl">
<head>

    <title>Verrukkulluk! :: {{ title }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <script src="https://kit.fontawesome.com/48acdf1f79.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/stylesheet.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>
    <script>
    $(document).ready(function(){
        // MENU FUNCTIONALITY
        $(".hamburger-menu-icon").click(function(){
            $(".menu").addClass("active-menu")
        })

        $(document).click(function(event){
            if (!$(event.target).is($(".hamburger-menu-icon"))&&!$(event.target).is($(".menu"))){
                 $(".menu").removeClass("active-menu")
            }
            })

            // RATING FUNCTIONALITY
            $(".fa-star").click(function(){
                
                const value= $(this).attr('data-value');


                $('.fa-star').each((index, elem)=>{
                   
                    $(elem).removeClass("fas");
                    $(elem).removeClass("far");
                    var currentClasses = $(elem).prop("class");
                    const itemValue = $(elem).attr('data-value');
                    if (itemValue <=value) {
                        $(elem).removeClass(currentClasses).addClass("fas" + " " + currentClasses )
                    }
                    else {
                        $(elem).removeClass(currentClasses).addClass("far"+ " " + currentClasses)
                    }
                })

                 $.ajax({
                        type: 'POST',
                        url: 'index.php',
                        data: { interaction: "updateRating", recipe_id: "{{data.recipe.id}}", rating: value},
                        success: function( msg ) {console.log(msg);
                        },
                        error: function(xhr, status, error) {
                            // check status && error
                        },
                        dataType: 'text'
                        });

            })
        

            // FAVORITE FUNCTIONALITY
            $(".favorite-btn").click(function(){

                    if($(this).hasClass("far")){
                        $.ajax({
                        type: 'POST',
                        url: 'index.php',
                        data: { interaction: "addFavorite", recipe_id: "{{data.recipe.id}}"},
                        success: function( msg ) {console.log(msg);
                        },
                        error: function(xhr, status, error) {
                            // check status && error
                        },
                        dataType: 'text'
                        });
                        $(this).removeClass("far"); 
                        var currentClasses = $(this).prop("class");
                        $(this).removeClass(currentClasses).addClass("fas" + " " + currentClasses );
                
                    }
                    else if($(this).hasClass("fas")){
                        $.ajax({
                        type: 'POST',
                        url: 'index.php',
                        data: { interaction: "deleteFavorite", recipe_id: "{{data.recipe.id}}"},
                        success: function( msg ) {console.log(msg);
                        },
                        error: function(xhr, status, error) {
                            // check status && error
                        },
                        dataType: 'text'
                        });
                        $(this).removeClass("fas"); 
                        var currentClasses = $(this).prop("class");
                    $(this).removeClass(currentClasses).addClass("far" + " " + currentClasses);
                    }
            })
        })
            

    </script>
</head>
<body>
<div class="wrapper">

    <div class="hero-section">
        <div class="menu inner-section">
            <a href="index.php"><img class="menu-logo" src="assets/img/logo-v2.png"/></a>
            <div>
            <span class="menu-item"><a href="index.php?action=favorites">My favorites</a></span>
            <span class="menu-item"><a href="index.php?action=groceries">My grocery list</a></span>
            </div>
        </div> 
        <div class=" inner-section">
        <div class="header">
            <a href="index.php"><img class="logo" src="assets/img/logo-v2.png"/></a>
            <div class="search-menu-section">
                <span class="search-input">            
                    <input type="search" placeholder="Search"/>
                </span>
                <i  class="fa fa-bars hamburger-menu-icon"></i>
            </div>
            {% block header %}
                
            {% endblock %}     
        </div> 
        </div>
    </div>

    <div class="inner-section">
        <div class="content-grid">
            <div class="agenda-login-container"> 
                <div class="agenda-container">
                    <img class="header-image" src="./assets/img/verrukkulluk-agenda.png" alt="agenda"/>
                    <div class="agenda-item">
                        <i class="fa fa-calendar"></i> 
                        <div>
                            <h3>Vegetarian cooking</h3>
                            <div>A workshop vegetarian cooking by Bob mcPhee.</div>
                        </div>
                    </div>
                    <div class="agenda-item">
                        <i class="fa fa-calendar"></i> 
                        <div>
                            <h3>Vegetarian cooking</h3>
                            <div>A workshop vegetarian cooking by Bob mcPhee.</div>
                        </div>
                    </div>
                    <div class="agenda-item">
                        <i class="fa fa-calendar"></i> 
                        <div>
                            <h3>Vegetarian cooking</h3>
                            <div>A workshop vegetarian cooking by Bob mcPhee.</div>
                        </div>
                    </div>
                    <div class="agenda-item">
                        <i class="fa fa-calendar"></i> 
                        <div>
                            <h3>Vegetarian cooking</h3>
                            <div>A workshop vegetarian cooking by Bob mcPhee.</div>
                        </div>
                    </div>
                    <div class="agenda-item">
                        <i class="fa fa-calendar"></i> 
                        <div>
                            <h3>Vegetarian cooking</h3>
                            <div>A workshop vegetarian cooking by Bob mcPhee.</div>
                        </div>
                    </div>
                </div>
                <div class="login-container">
                    <img class="header-image" src="./assets/img/verrukkulluk-login.png" alt="Login"/>
                    <form>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" >
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" >
                        </div>
                        <button type="submit" class="button login-btn"><a href="index.php?action=login">Login</a></button>
                    </form>
                </div>
            </div>
            <div class="recipes-container">
                {%  block content %}
                {%  endblock %}
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="inner-section">

            <img class="logo" src="./assets/img/verrukkulluk-pay-off.png" alt="verrukkulluk logo"/>
            <div>
                <img class="header" src="./assets/img/verrukkulluk-contact.png" alt="contact"/>
                <div>verrukkuluk.nl</div>
                <div>Poststraat 2b</div>
                <div>Sittard</div>
                <div>info@verrukkuluk.nl</div>
            </div>
        </div>
    </div>




</div>


</body>
</html>