<html lang="nl">
<head>

    <title>Verrukkuluk! :: {{ title }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/stylesheet.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>

</html>
<body>
<div class="container-fluid">

    <div class="row inner-section hero-section">
        <div class="col-md-12">
        {% block header %}
            
        {% endblock %}   
        </div>
    </div>

    <div class="row inner-section content">
        <div class="col-md-3 ">
            <div class="row agenda content-section">
                <div class="col-md-12">
                <img class="header" src="./assets/img/verrukkulluk-agenda.png" alt="agenda"/>
                <div class="agenda-item">
                    <i class="fa fa-calendar"></i> 
                    <div>
                        <h3>Vegetarian cooking</h3>
                        <div>A workshop vegetarian cooking by Bob mcPhee.</div>
                    </div>
                </div>
                <div class="agenda-item">
                    <i class="fa fa-calendar"></i> 
                    <div>
                        <h3>Vegetarian cooking</h3>
                        <div>A workshop vegetarian cooking by Bob mcPhee.</div>
                    </div>
                </div>
                <div class="agenda-item">
                    <i class="fa fa-calendar"></i> 
                    <div>
                        <h3>Vegetarian cooking</h3>
                        <div>A workshop vegetarian cooking by Bob mcPhee.</div>
                    </div>
                </div>
                <div class="agenda-item">
                    <i class="fa fa-calendar"></i> 
                    <div>
                        <h3>Vegetarian cooking</h3>
                        <div>A workshop vegetarian cooking by Bob mcPhee.</div>
                    </div>
                </div>
                <div class="agenda-item">
                    <i class="fa fa-calendar"></i> 
                    <div>
                        <h3>Vegetarian cooking</h3>
                        <div>A workshop vegetarian cooking by Bob mcPhee.</div>
                    </div>
                </div>
                </div>
            </div>
            <div class="row login content-section">
            <div class="col-md-12 ">
                <img class="header" src="./assets/img/verrukkulluk-login.png" alt="Login"/>
                <form>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" >
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" >
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            </div>
        </div>
        <div class="col-md-9 content-section recipes">
            
            {%  block content %}
            {%  endblock %}
        </div>
    </div>


    <div class="row footer">
        <div class="col-md-9 inner-section">

            <img class="logo" src="./assets/img/verrukkulluk-pay-off.png" alt="verrukkulluk logo"/>
            <div>
                <img class="header" src="./assets/img/verrukkulluk-contact.png" alt="contact"/>
                <div>verrukkuluk.nl</div>
                <div>Poststraat 2b</div>
                <div>Sittard</div>
                <div>info@verrukkuluk.nl</div>
            </div>
        </div>
    </div>



</div>



</body>
